<!DOCTYPE html>
<!-- thymeleaf used to inject Java in html -->
<html lang="en"
      xmlns:th="http://www.thymeleaf.org">
<head>
<body>
<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <a class="navbar-brand" href="#">Navbar</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto">
            <li class="nav-item ">
                <a class="nav-link" href="index">Home</a>
            </li>
            <li class="nav-item active">
                <a class="nav-link" href="details">Details</a>
            </li>
            <li class="nav-item ">
                <a class="nav-link" href="about">About</a>
            </li>
        </ul>
    </div>
</nav>
<div id="content" class="container">
    <table cellspacing="0" th:object="${producten}">
        <tr>
            <td>Naam</td>
            <td th:text="${producten.naam}"></td>
        </tr>
        <tr>
            <td>Beschrijving</td>
            <td th:text="${producten.omschrijving}"></td>
        </tr>
        <tr>
            <td>Vraagprijs</td>
            <td th:text="${producten.prijs}"></td>
        </tr>
        <tr>
            <td>Email</td>
            <td th:text="${producten.email}"></td>
        </tr>
    </table>
</div>
<!-- Footer -->
<footer class="page-footer font-small blue">
    <!-- Copyright -->
    <div class="footer-copyright text-center py-3">© 2020 Copyright:
        <a href="/"> MDBootstrap.com</a>
    </div>
    <!-- Copyright -->
</footer>
<!-- Footer -->
</body>

</head>
</html>